@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #0ef;
    --text-color: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #24252A; */
    font-family:  "Montserrat", sans-serif;
}

html {
    background-color: #24252A;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover {
    box-shadow: none;
}
/* Navbar Section */
.name {
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

nav {
    order: 1;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li:nth-child(1) {
    padding: 0 20px 0 0;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:#0088a9
}

.cta {
    order: 2;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.5);
}
/* End Navbar Section */
/* Wave Section */
/* .custom-shape-divider-bottom-1680812349 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1680812349 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 164px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1680812349 .shape-fill {
    fill: #1BD4C5;
} */
/* .wave-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 266px;
    transform: rotateY(180deg);
}

.wave-bottom .shape-fill {
    fill: #1BD4C5;
} */
.custom-shape-divider-bottom-1680812253 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1680812253 svg {
    position: relative;
    display: block;
    width: calc(109% + 1.3px);
    height: 101px;
}

.custom-shape-divider-bottom-1680812253 .shape-fill {
    fill: #1BD4C5;
}
/* End Wave Section */
/* .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
/* Hero Section */
#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
    color: transparent;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgba(0, 136, 169, 1);
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}
#hero h1:nth-child(1) span {
    animation-delay: .5s;
}
#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}
#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 0px;
    justify-content: flex-start;
}
/* End Hero Section */
/* Tero Section */
#tero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
    color: transparent;
}
#tero h1:nth-child(1){
    animation-delay: 1s;
}
#tero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgba(0, 136, 169, 1);
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}
#tero h1:nth-child(1) span {
    animation-delay: .5s;
}
#tero .tero {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 0px;
    justify-content: flex-start;
}
/* End Tero Section */
/* Vero Section */
#vero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
    color: transparent;
}
#vero h1:nth-child(1){
    animation-delay: 1s;
}
#vero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgba(0, 136, 169, 1);
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}
#vero h1:nth-child(1) span {
    animation-delay: .5s;
}
#vero .tero {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 0px;
    justify-content: flex-start;
}
/* End Vero Section */
/* Lero Section */
#lero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
    color: transparent;
}
#lero h1:nth-child(1){
    animation-delay: 1s;
}
#lero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgba(0, 136, 169, 1);
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}
#lero h1:nth-child(1) span {
    animation-delay: .5s;
}
#lero .tero {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 0px;
    justify-content: flex-start;
}
/* End Lero Section */
/* Keyframes */
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: white;
    }
}
@keyframes text_reveal_name {
    100% {
        color: #1BD4C5;
        font-weight: 500;
    }
}
/* End Keyframes */
/* Media */
/* 
$desktop:1200px;
$laptop:1024px;
$tablet:768px;
$phone:480px; 
*/
/* End Media */

/* Contact Me Submission */
.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}
/* End Contact Me Submission */

/* Portfolio Section */
body {
    /* background: var(--bg-color); */
    color: var(--text-color)
}
span {
    color: var(--main-color)
}
.portfolio {
    background: var(--second-bg-color);
}
.portfolio-container {
    display: grid;
    align-items: center;
    gap: 2.5rem;
    padding: 50px;
    width: 45%;
    float: right;
    width: 45%;
    float: left;
}
.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img {
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
    background-color: none;
}
.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}
.portfolio-layer h4 {
    font-size: 3rem;
}
.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
/* End Portofolio Section */

/* About Section */
.about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    padding:5px;
    margin-top: 10px;
    position:absolute;
}
.about-img {
    max-width: 430px;
    height: auto;
    border-radius: 15px;
    margin-left: 130px;
    overflow: hidden;
    position: relative;
}
.about-text {
    margin-top: 100px;
    margin-left: -50px;
}
.about-text h2 {
    font-size: 30px;
    line-height: 1;
}
.about-text h4 {
    font-size: 24px;
    font-weight: 600;
    color: white;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p {
    color: aliceblue;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 4rem;
}
/* End About Seciton */